h1{
    font-size: 5.5rem;
    @media screen and (max-width: 700px){
        font-size: 3.5rem;
    }
}

input{
    color: white;
}

input::placeholder {
    color: white !important;
    font-size: larger;
}
.avatar-container{
    /* img{
        width: 80%;
    } */
    button{
        left: 35px;
        bottom: -5px;
        /* top: 100; */
        border: 1px solid white;
        background-color: black;
        color: white;
    }
    button:hover {
        background-color: grey;
    }
}
.dropdown-menu {
    a:hover{
    font-weight: bold;
    color: black !important;
    }
}
.btn-group button:hover{
    color: white !important;
    background-color: #6e757d !important;
}
main{
    margin-top: $header-height;
}