/* #carouselExampleControls button, #carouselExampleControls2 button, #carouselExampleControls3 button, #carouselExampleControls4 button,#carouselExampleControls5 button, #carouselExampleControls6 button, #carouselExampleControls7 button, #carouselExampleControls8 button, #carouselExampleControls9 button{
    width: $margin-x-axes / 2;
    @media screen and (min-width: 768px){
        width: $margin-x-axes;
    }
}
.responsive-margin-left{
    margin-left: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-left: $margin-x-axes;
        }
}
.responsive-padding-left{
    padding-left: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            padding-left: $margin-x-axes;
        }
}
.responsive-margin-right{
    margin-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-right: $margin-x-axes;
        }
}
.responsive-padding-right{
    padding-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            padding-right: $margin-x-axes;
        }
}
 */

#paypal{
    height: 20px;
}

#hd{
    height: 20px;
}
#avatar-my-profile{
    height: 30px;
}
main{
    margin-top: $header-height;
}