header{
    #first-nav-col, #second-nav-col{
        margin-left: $margin-x-axes / 2;
        margin-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-left: $margin-x-axes;
            margin-right: $margin-x-axes;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav{
    @media screen and (max-width: 575px){
        background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(27,27,27,1) 100%);
    }
    background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 100%);
    .container-fluid{
        .row{
            &:first-child{
                a{
                    img{
                        height: $img-nav-height;
                    }
                }
                button{
                    border: 2px solid rgb(124, 124, 124);
                }
                div ul li a {
                    @include nav-items-highlights;
                }
                div ul li a:hover{
                    @include hover-nav;
                    font-weight: bold;
                }
                
            }
            &:last-child{
                .dropdown{
                    a{
                        @include nav-items-highlights;
                        padding-left: 8px;
                        img{
                            height: $img-nav-height + 10px;
                        }
                    }
                    
                    .dropdown-menu{
                        @media screen and (max-width: 1023px){
                            left: -100px
                        }
                        @media screen and (min-width: 1024px) {
                            left: -71px;
                        }
                    }
                }
            }
        }
    }
}
#navbarNav ul li{
    @media screen and (max-width: 1215px){
        font-size: 1rem;
    }
}

#dropdownMobile{
    left: -74px;
}


.bg-nav-animation{
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(27,27,27,1) 100%);
}

.bg-nav-transparent{
    background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 100%);;
}