.bg-custom {
  background-color: #1b1b1b;
  /* background-color: white; */
}

.nav-link-color {
  color: rgb(176, 176, 176);
}

.dropdown-nav {
  background-color: #1b1b1b;
  border: 1px solid white;
  opacity: 95%;
}

#dropdown-filter button:hover {
  background-color: #70757d !important;
}
#dropdown-filter ul {
  opacity: 80%;
}
#dropdown-filter ul li a:hover {
  color: black !important;
  font-weight: bold;
}

#navbarNav ul li a:hover {
  color: white;
}

#secondMiniNav li a:hover {
  color: white;
}

#dropdownMobile li a:hover {
  color: black !important;
}

.container-fluid div #cancel {
  background-color: rgba(158, 169, 179, 0.5215686275) !important;
  border-bottom: 1px solid black !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header #first-nav-col, header #second-nav-col {
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  header #first-nav-col, header #second-nav-col {
    margin-left: 48px;
    margin-right: 48px;
  }
}

nav {
  background: linear-gradient(180deg, rgb(0, 0, 0) 1%, rgb(27, 27, 27) 100%);
}
nav .container-fluid .row:first-child a img {
  height: 25px;
}
nav .container-fluid .row:first-child button {
  border: 2px solid rgb(124, 124, 124);
}
nav .container-fluid .row:first-child div ul li a {
  color: rgb(176, 176, 176);
}
nav .container-fluid .row:first-child div ul li a:hover {
  color: black;
  font-weight: bold;
}
nav .container-fluid .row:last-child .dropdown a {
  color: rgb(176, 176, 176);
  padding-left: 8px;
}
nav .container-fluid .row:last-child .dropdown a img {
  height: 35px;
}
@media screen and (max-width: 1023px) {
  nav .container-fluid .row:last-child .dropdown .dropdown-menu {
    left: -100px;
  }
}
@media screen and (min-width: 1024px) {
  nav .container-fluid .row:last-child .dropdown .dropdown-menu {
    left: -71px;
  }
}

@media screen and (max-width: 1215px) {
  #navbarNav ul li {
    font-size: 1rem;
  }
}

#dropdownMobile {
  left: -74px;
}

/* #carouselExampleControls button, #carouselExampleControls2 button, #carouselExampleControls3 button, #carouselExampleControls4 button,#carouselExampleControls5 button, #carouselExampleControls6 button, #carouselExampleControls7 button, #carouselExampleControls8 button, #carouselExampleControls9 button{
    width: $margin-x-axes / 2;
    @media screen and (min-width: 768px){
        width: $margin-x-axes;
    }
}
.responsive-margin-left{
    margin-left: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-left: $margin-x-axes;
        }
}
.responsive-padding-left{
    padding-left: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            padding-left: $margin-x-axes;
        }
}
.responsive-margin-right{
    margin-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-right: $margin-x-axes;
        }
}
.responsive-padding-right{
    padding-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            padding-right: $margin-x-axes;
        }
}
 */
#paypal {
  height: 20px;
}

#hd {
  height: 20px;
}

#avatar-my-profile {
  height: 30px;
}

main {
  margin-top: 56.5px;
}

footer {
  color: white;
}
footer i {
  font-size: 2rem;
}
footer a {
  color: white;
}
@media screen and (min-width: 768px) {
  footer a {
    padding-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */